body {
    margin: 0 0;
    font-family: "Helvetica";
    font-weight: 400;
    width:100%;
    font-size: 100%;
   color: black;
   /* background-color: #ddd; */
}

a.current:link, a.current:visited {
    color: #000;
    text-decoration: none;
}

a:link, a:visited {
    color: #666667;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

#outerContent {
    /* background-color: #F9F9F9; */    
    /* box-shadow: 0 0 5px 5px #888; */
}

ul.nav-menu {
	-webkit-padding-start: 0;
	padding-left:0;
	list-style:none;
}

#content {
	width: 960px;
    padding-top: 16px;
    /*padding-bottom: 32px;*/
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
    /* below is from wordpress template */
    margin-top: 3.428571429rem;
    margin-bottom: 3.428571429rem;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    padding: 0 2.857142857rem;
}

#content h1 {
    font-size: 130%;
}

#content h2 {
    font-size: 110%;
}

#content h3 {
    font-size: 100%;
}

#content a.current:link, a.current:visited {
    text-decoration:underline;
}

#content a:link, #content a:visited {
    text-decoration: underline;
}

#content a:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.float-right {
    float: right;
    margin-left: 24px;
}
